@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  border: 1px solid #fff;
}

body.dark {
  background-color: #121212;
  color: white;
}

body, .btn-primary, .btn-secondary {
  background-color: #ffffff;
  color: black;
}